db/
incremental_db/
output_files/
simulation/
timing/
greybox_tmp/
hc_output/
.qsys_edit/
*.rpt
*.smsg
*.summary
*.done
*.jdi
*.pin
*.qws
*.bak
*.srf
*.qws
*.eqn
*.cmp
*.sof
*.pof
*.jam
*.jbc
*.ekp
*.jic
*.sopcinfo
*.csv
*.html
*.txt
work/
transcript
*.wlf
*.vcd
*.do~
.DS_Store
Thumbs.db